{% extends 'base.html.twig' %}

{% block title 'Toutes nos propriétés' %}

{% block body %}
  <div class="container mt-4">

    <h1>Voir toutes les propriétés</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eum, cumque fuga cupiditate suscipit sint facilis ullam facere rerum, maiores sequi et, adipisci quia necessitatibus ex praesentium nam illo laudantium?</p>


  </div>
{% endblock %}
