{% extends 'base.html.twig' %}

{% block title 'Toutes nos propriétés' %}

{% block body %}
  <div class="container mt-4">

    <h1>Toutes les propriétés</h1>

    <div class="row">
        {% for property in properties %}
        <div class="col-md-4">

            {% include'property/_property.html.twig' %}

        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(properties) }}
    </div>

  </div>
{% endblock %}
